{{define "header"}}
<h1 class="mb-0">{{.Thread.Title}}</h1>
{{end}}

{{define "content"}}

{{range .Posts}}
<div class="card mb-4">
    <div class="d-flex">
        <div class="py-4 pl-4 flex-shrink-0" style="width: 4rem">
            <button data-post-id="{{.ID}}" class="d-block text-body btn btn-outline-default upvote">
                &#x25B2
            </button>
            <div class="mt-1 pl-3">{{.Votes}}</div>
            <button data-post-id="{{.ID}}" class="d-block text-body btn btn-outline-default downvote">
                &#x25BC
            </button>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{.Title}}
            </h5>
            <p class="card-text">
                {{.Content}}
            </p>
            <a href="/posts/{{.ID}}">{{.CommentsCount}} Comments</a>
        </div>
    </div>
</div>
{{end}}
{{end}}

{{define "sidebar"}}
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">About Community</h5>
        <p class="card-text">
            {{.Thread.Description}}
        </p>
        <a href="{{$.Thread.ID}}/new" class="btn btn-primary btn-block">Create Post</a>
    </div>
</div>
<div class="text-center">
    <button
        type="button"
        class="btn btn-outline-danger"
        id="delete-thread"
        data-thread-id="{{.Thread.ID}}"
    >Delete this thread</button>
</div>
{{end}}

{{define "javascript"}}
<script>
    document.getElementById('delete-thread').addEventListener('click', (event) => {
        if (confirm('Are you sure? This cannot be undone')) {
            const id = event.target.dataset.threadId;
            fetch(`/threads/${id}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRF-Token': '{{.CSRFToken}}',
                }
            }).then(() => {
                window.location.replace('/threads');
            });
        }
    });

    ['upvote', 'downvote'].forEach(voteType => {
        for (let button of document.getElementsByClassName(voteType)) {
            button.addEventListener('click', (event) => {
                const id = event.target.dataset.postId;
                fetch(`/posts/${id}/${voteType}`, {
                    method: 'POST',
                    headers: {
                        'X-CSRF-Token': '{{.CSRFToken}}',
                    }
                }).then(() => {
                    window.location.reload();
                });
            });
        }
    });
</script>
{{end}}